/* Header */
/* Navbar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding-left: 0;
    padding-right: 0;
}
.navbar {    
    margin-bottom: 0;
    width: 100%;
    background-color: #fada22;
    border: 0;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0);  Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.btnModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.btnModal:hover,
.btnModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

section {
    padding-top: 75px;
    width: 100%;
    background-color: #f3e282;
    border: 0;
}

.container-fluid {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

/* footer */
footer {
    background-color: #fada22;
    color: #ffffff;
    min-height: 75px;
    margin: 0;
}
.blockquote-footer {
    background-color: #ffffff;
}
.social-links {
    text-align: center;
    padding-top: 15px;
}
.social-links li a i {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background: #f3e282;
}
.credits {
    text-align: center;
    padding: 15px;
}
.credits a {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}
.dropdown-menu {
    background-color: #fada22;
}
.dropdown-menu a {
    color: #ffffff;
}
.copyright {
    padding-top: 25px;
}